body{
  display: grid;
  grid-template-rows: 30px 20px 1fr 700px auto;
  grid-template-columns: 100%;
  margin: 0;
  padding: 0;
  background: pink;
}
a, p{
  background-color: green;
  padding: 0;
  margin: 0;
}
.toprow{
  grid-row: 1;
  background: green;
  border: solid;
  border-radius: 5px;
  text-align: center;
  margin: 0;
}
.scndrow{
  grid-row: 2;
  grid-column: 1;
  text-align: center;
  justify-self: stretch;
  border-radius: 5px;
  border: solid;
  border-top: none;
  background: green;
  height: 20px;
  margin: 0;
  margin-bottom: 3px;
}
.menubar{
  grid-row: 3;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 3px;
  justify-content: center;
  justify-items: center;
  background: yellow;
  margin-top: 5px;
}
.menubar a{
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: yellow;
  justify-self: stretch;
  justify-content: center;
  text-align: center;
  border: solid;
  border-radius: 30px;
  font-size: 2em;
  text-decoration: overline;
}
.top-picture{
  border: solid;
  border-radius: 5px;
  width:1200px;
  height: 556px;
  justify-self: center;
  align-self: center;
}
.pics{
  grid-row: 5;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 10px;
  justify-items: center;
}
.pics img{
  height: 200px;
  width: 200px;
}
.pic1{
  grid-column: 1;
  position: relative;
}
.textoverlay{
  position: absolute;
  top: 180px;
  left: 0px;
  color: white;
  padding-bottom: 5px;
  width: 200px;
  background-color: darkgreen;
  text-align: center;
}
.pic2{
  grid-column: 2;
  position: relative;
}
.pic3{
  grid-column: 3;
  position: relative;
}
